// _custom.scss


// Section Headers
section h2 {
  font-size: map-get($font-sizes, 'large');
  color: $text-color;
}

// Paragraph Styles
section p {
  font-size: map-get($font-sizes, 'base');
  color: $light-text-color;
  max-width: 800px;
  margin: auto;
}

// Global Styles
body {
  font-family: $font-family-base;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: lightyellow;
}

nav {
  background-color: $primary-color;
  color: white;
  padding: $padding-base;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: darken($primary-color, 10%);
}

header {
  background: url('/assets/image.jpg') no-repeat center center/cover;
  height: 600px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 $padding-base;
}

header #header-bg {
  background-color: rgba(0, 0, 0, 0.5);
}

header h1 {
  font-size: 3rem;
  margin: 0;
}

section {
  padding: $padding-section;
  text-align: center;
}

footer {
  background-color: $primary-color;
  color: $text-color;
  text-align: center;
  padding: $padding-base;
}

// Accordion Styles
.accordion-button {
  background-color: $primary-color;
  color: white;
  border: none;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease;
}

.accordion-button:not(.collapsed) {
  background-color: darken($primary-color, 10%);
}

.accordion-button:hover {
  background-color: darken($primary-color, 15%);
}

.accordion-body {
  background-color: #f8f9fa;
}

$card-bg-color: #f8f9fa;
$card-border-color: #dee2e6;
$card-hover-bg-color: #e9ecef;
$card-text-color: #212529;


.card {
  border: 1px solid $card-border-color;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin-bottom: 1.5rem;
  background-color: $card-bg-color;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.card:hover {
  background-color: $card-hover-bg-color;
  transform: translateY(-5px);
}

.card img {
  border-radius: 0.5rem 0.5rem 0 0;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: $primary-color;
}

.card-body {
  padding: 1.25rem;
  background-color: $background-color;
  color: $text-color;
}

.card-img-top {
  width: 100%;
  height: auto;
}


.accordion-body img {
  max-width: 100%;
  height: auto;
}