// override BS5 variables and add custom variables

// change the 'primary' and 'danger' color and add 'purple'
// _projectVariables.scss

// Color Variables
$primary-color: #4CAF50;
$text-color: #333;
$light-text-color: #666;
$background-color: #f8f8f8;

// Font Variables
$font-family-base: Arial, sans-serif;

// Spacing
$padding-base: 15px;
$padding-section: 50px;

