// override/add the default $utilities map
// Info: https://getbootstrap.com/docs/5.3/utilities/api/

// add 'left', 'right' and 'justify' to the $text-align map
$utilities: (
  "text-align": (
    responsive: true,
    property: text-align,
    class: text,
    values: (
      start: left,
      end: right,
      center: center,
      left: left,
      right: right,
      justify: justify,
    ),
  ),
);

// _projectUtilities.scss

// Flex Center Mixin
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Clearfix Mixin
@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

// Utility Classes
.text-center {
  text-align: center;
}

.hidden {
  display: none !important;
}
